<p>tradeview works!</p>
<!-- <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24"> -->

<!-- <div class="chart-container">
    <div id="technical-analysis5" class="future__trade-chart"></div>
</div>
</div> -->
<div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
    <div id="technical-analysis1" class="future__trade-chart-single"></div>
</div>

<div  id="spot-analysiss0" class="smarttrade__tech-chart"></div>




<div class="tradingview-widget-container" #container>
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright">
      <a href="https://in.tradingview.com/" rel="noopener nofollow" target="_blank">
        <span class="blue-text">Track all markets on TradingView</span>
      </a>
    </div>
  </div>

  <iframe id="dextools-widget"
  title="DEXTools Trading Chart"
  width="500"
  height="400" src="https://www.dextools.io/widget-chart/en/ether/pe-light/0xa29fe6ef9592b5d408cca961d0fb9b1faf497d6d?theme=light&chartType=2&chartResolution=30&drawingToolbars=false"></iframe>






  <!-- <div id="chart-container"></div> -->